<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <title>Online Examination System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
  body #section-jumbotron{
    margin-bottom: 0rem;
  }
</style>
<body>
  {% include "exam/navbar.html" %}
  <br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h2 class="display-3 text-info">Online Examination System</h2>
    <p class="display-4 d-none d-sm-block">Attend your examinations online!</p>
    <p class="lead">Sign Up now to start your first online examination</p>

  
    <p><strong> Start Your Journey Here:</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px; border-radius: 0%;"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Sign Up as Student</a>
    
  </div>
</section>
  {% include "exam/footer.html" %}


</body>

</html>
